* {
  margin: 0;
  font-family: Inter;
  box-sizing: border-box;
  transition: all ease 0.3s;
}

html,
body {
  height: 100%;
}

body {
  background-color: #1c1c1c;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  background-color: #1f2937;
  width: 550px;
  height: 550px;
}

.action-bar {
  display: flex;
  gap: 12px;
  padding: 24px 15px;
}

#input-color {
  height: 43px;
  width: 61px;
}

#scheme-mode {
  width: 312px;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 6px;
  outline: none;
  color: white;
  background-color: #1f2937;
}

.btn {
  width: 123px;
  border: none;
  color: white;
  background-color: #3d4b60;
  border-radius: 4px;
  font-size: 12px;
  font-weight: 500;
}

.btn:hover {
  opacity: 50%;
}

.hex-colors {
  display: flex;
  height: 414px;
}

.hex-colors .color {
  flex: 1;
  background-color: #000000;
}

.hex-colors .c0 {
  background-color: #424242;
}

.c0:hover,
.c1:hover,
.c2:hover,
.c3:hover,
.c4:hover {
  opacity: 80%;
}

.hex-colors .c1 {
  background-color: #626262;
}

.hex-colors .c2 {
  background-color: #888888;
}

.hex-colors .c3 {
  background-color: #b9b9b9;
}

.hex-colors .c4 {
  background-color: #ffffff;
}

.hex-values {
  height: 46px;
  padding: 11px 28px;
}

.hex-values-content {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  color: white;
  font-weight: 500;
}
